<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %>
<body>
    <%- include('./partials/nav.ejs') %>
    <div class="about content">
        <h2>About Me</h2>
        <p>A little bit about me...well, where to begin. In the begining, there was light </p>
    </div>
    <%- include('./partials/footer.ejs') %>
</body>
</html>